{% load static %}

<li>
    <article class="post">
        <a href="{% url 'post_details' slug='the-mountains' %}">
        {% comment %}<a href="{% url 'post_details' slug='the-mountainrs' %}"> You can also send the slug as a kwarg {% endcomment %}
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="mountain hiking">
            <div class="post__content">
                <h3>Mountain Hiking</h3>
                <p>This is my first Blog Post</p>
            </div>
        </a>
    </article>
</li>