<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Review</title>
</head>
<body>
    <form method="POST" action="/">
        {% csrf_token %}
        {% if has_error %}
            <p style="color: red; border: 1px solid red;">Your username must not be empty!</p>
        {% endif %}
        <label for="username">Your Username</label>
        <input type="text" name="username" id="username">
        <button>Submit</button>
    </form>
</body>
</html>