{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Review</title>
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}">
</head>
<body>
    <form method="POST" action="/">
        {% csrf_token %}
        <div class="form-control {% if form.username.errors %}errors{% endif %}">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-control {% if form.review_text.errors %}errors{% endif %}">
            {{ form.review_text.label_tag }}
            {{ form.review_text }}
            {{ form.review_text.errors }}
        </div>
        <div class="form-control {% if form.rating.errors %}errors{% endif %}">
            {{ form.rating.label_tag }}
            {{ form.rating }}
            {{ form.rating.errors }}
        </div>
        <button>Submit</button>
    </form>
</body>
</html>