<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Review</title>
</head>
<body>
    <form method="POST" action="/">
        {% csrf_token %}
        <div class="form-control {% if form.username.errors %}errors{% endif %}">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <button>Submit</button>
    </form>
</body>
</html>