{% extends 'meetups/base/base.html' %}
{% load static %}


{% block title %} All Meetups {% endblock %}
{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}


{% block main_heading %}
We have great meetups!
{% endblock %}

{% block header_content %}
Find one that best suits you
{% endblock %}

{% block content %}
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for meetup in meetups %}
                    <li class="meetup-item">
                        <article>
                            <div class="meetup-summary">
                                <div class="meetup-image">
                                    <img src="" alt="Meetup">
                                </div>
                                <div class="meetup-details">
                                    <h3>{{ meetup.title }}</h3>
                                    <address>{{ meetup.location }}</address>
                                </div>
                            </div>
                            <div class="meetup-actions">
                                {% comment %}<a href="/meetups/{{meetup.slug}}" class="btn">View Details</a> {% endcomment %}
                                <a href="{% url 'meetup_details' meetup.slug %}" class="btn">View Details</a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ol>
        </section>
{% endblock %}