
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
    <title>All Meetups</title>
</head>
<body>
    <header id="main-header">
        <nav><a href="/meetups" id="main-logo">Django Meet-ups</a></nav>
        <h1>We have great meetups!</h1>
        <p>Find one that best suits you</p>
    </header>
    <main>
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for meetup in meetups %}
                    <li class="meetup-item">
                        <article>
                            <div class="meetup-summary">
                                <div class="meetup-image">
                                    <img src="" alt="Meetup">
                                </div>
                                <div class="meetup-details">
                                    <h3>{{ meetup.title }}</h3>
                                    <address>{{ meetup.location }}</address>
                                </div>
                            </div>
                            <div class="meetup-actions">
                                <a href="{{ meetup.slug}}" class="btn">View Details</a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ol>
        </section>
    </main>
</body>
</html>