{% extends 'meetups/base/base.html' %}
{% load static %}


{% block title %} All Meetups {% endblock %}
{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}


{% block main_heading %}
We have great meetups!
{% endblock %}

{% block header_content %}
Find one that best suits you
{% endblock %}

{% block content %}
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for meetup in meetups %}
                    {% include 'meetups/includes/meetup-item.html' with title=meetup.title location='Nairobi' slug=meetup.slug image=meetup.image.url %}
                {% endfor %}
            </ol>
        </section>
{% endblock %}